/* Universal viewer custom and fixes for common Omeka themes */
@media all {
    .universal-viewer {
        height: 600px;
    }
    .universal-viewer .headerPanel .centerOptions .mode label {
        width: auto;
        min-width: 31px;
    }
    /* Fix for firefox */
    .universal-viewer .uv .footerPanel .searchOptions {
        width: 480px;
    }
    /* Fix for v4 when not embedded. */
    .uv {
        word-wrap: initial;
    }
}
.play.fullscreen,
.play.fullscreen > .universal-viewer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
